.p2 {
    border-radius: 2em 0 0 0;
    width: 10em;
    border: 1px solid blue;
    text-shadow: rgb(180, 110, 110) 3px 3px 5px;
}

.p2:hover {
    transform: rotate(180deg);
}

.p4 {
    color: white;
    background: linear-gradient(#5c5a5a, #ffffff);
}

.p4:hover {
    transform: rotate3d(5,15,16,-50deg);
}