.p2 {
    border-radius: 2em 0 0 0;
    width: 10em;
    border: 1px solid blue;
    text-shadow: rgb(180, 110, 110) 3px 3px 5px;
    animation: mianimacion 1s ease-in-out 0s infinite normal none;

}

@keyframes mianimacion {
    0% {
        background: red;
        transform: scale(0, 0);
    }

    25% {
        background: yellow;
        transform: scale(0, 0);
    }

    50% {
        background: blue;
        transform: scale(200, 200);
    }

    75% {
        background: green;
        transform: scale(0, 200);
    }

    100% {
        background: red;
        transform: scale(0, 0);
    }
}


.p4 {
    color: white;
    background: linear-gradient(#5c5a5a, #ffffff);
}