p:nth-child(2) {
    color: red;
    border: 10em;
    border: 2em solid blue;
}
p:nth-child(3) {
    color: red;
    font-size: 10em;
    text-decoration: overline;
    margin: 2em;
}

p:first-child {
    color: red;
    font-size: 3em;
    margin: 1em;
}

p:last-child {
    color: red;
}

p:nth-child(even) {
    background-color: red;
}

p:nth-child(odd) {
    background-color: yellow;
}
main:only-child{
    background-color: red;
}
main:not(p){
    background-color: red;
}
section{
    background-image: url("images.png");
}