.p1{
    font-size: 3em;
    text-align: center;
    margin: 1em;

}
.p2{
    transform: rotate(180deg);
    text-shadow: rgb(150, 150, 150) 3px 3px 5px;
}

.p3{
    font-size: 3em;
    margin-top: 2em;
    text-decoration: overline;
}

.p4{
    text-align: center;
    background: -webkit-linear-gradient(top, #FFFFFF, #666666);
    transform: perspective(500px) rotate3d(0, 1, 0, 45deg);
}

section{
    /*background:  url("../images/logoHTML5.png") repeat-x;*/
}