.p1{
    font-size: 3em;
    text-align: center;
    margin: 1em;

}
.p2{
    text-align: center;
    transform: rotate(180deg);
    text-shadow: rgb(150, 150, 150) 3px 3px 5px;
    animation: mianimacion 1s ease-in-out 0s infinite alternate none;
    transform: perspective(500px) rotate3d(0, 1, 0, 45deg);
}

.p3{
    font-size: 3em;
    margin-top: 2em;
    text-decoration: overline;
}

.p4{
    text-align: center;
    background: -webkit-linear-gradient(top, #FFFFFF, #666666);
    transform: perspective(500px) rotate3d(0, 1, 0, 45deg);
}

section{
    /*background:  url("../images/logoHTML5.png") repeat-x;*/
}

@keyframes mianimacion{
    0% {
      background: red;
   
      transform: translate(0px,0px);
    }
20% {
      background: yellow;
    
      transform: translate(200px,00px);
    }
    50% {
      background: blue;
   
      transform: translate(200px,200px);
  }

  75% {
    background: green;
  
    transform: translate(00px,200px);
}

100% {
    background: red;
 
    transform: translate(0px,0px);
}
  }