.p1{
    font-size: 3em;
    text-align: center;
    margin: 1em;
}

.p3{
    font-size: 3em;
    margin-top: 2em;
    text-decoration: overline;
}

section{
    background:  url("../images/logoHTML5.png") repeat-x;
}