
main {
    margin-top: 5em;
    background-color: rgb(9, 72, 114);
    border-radius: 10px;
    height: 600px !important;
    width: 500px !important;
}

#resultado {
    background-color: lightblue;
    height: 3%;
    border-radius: 5px;
    font-size: 50px;
}

.col {
    margin-bottom: 20px;
}

.col>button {
    background-color: white;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    width: 80px;
    height: 50px;
    margin-right: 25px;
    font-size: 20px;
}

button[id='='] {
    background-color: orange;
}

#clear,
#clearAll {
    width: 40%;
}

.memory>button {
    margin-right: 60px;
}

button:active {
    background-color: lightgrey;
    transform: scale(0.95);
}

button[id='=']:active {
    background-color: burlywood;
    transform: scale(0.95);
}

#memory > button {
    width: 25%;
}