.tarjeta {
    border: 5px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-oculta {
    display: block;
}

.imagen-correcta {
    display: none;
}

.tarjeta.inactiva{
    cursor: not-allowed;
    pointer-events: none;
}
