* {
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
}


body {
    background-image: url('../img/forest-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tarjeta {
    border: 10px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/pokeball-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#J1 {
    background-image: url('../img/fondo1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#J2 {
    background-image: url('../img/fondo2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.imagen-oculta {
    display: block;
}

.imagen-correcta {
    display: none;
}

.tarjeta.inactiva {
    cursor: not-allowed;
    pointer-events: none;
}