*{
    margin: 0;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100%;
}

header{
    background-color: #f8f9fa;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    margin-bottom: 50px;
}

header p {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    color: #5f555c;
    padding-top: 20px;
}

header button{
    border-radius: 10px;
    background-color: #0d6efd;
    color: white;
    padding: 10px;
}

nav{
    background-color: #212529;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 20px;
}

nav ul{
    float:right;
    margin-top: 20px;
    margin-right: 20px;
}

nav img{
    color: white;
    float:left;
    margin-top: 20px;
    margin-left: 20px;
}

nav ul li{
    display: inline;
    background-color: #212529;
    list-style-type:none ;
    padding: 5px;
}

nav ul li a{
    color: white;
}

#boxes{
    margin-bottom: 20px;
}

#boxes ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#boxes ul li{
    list-style-type: none;
    background-color: #f8f9fa;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
    margin: 20px;
    text-align: center;
    width: 25%;
}

ul li p{
     color: #5f555c;
     padding: 10px;
}

#form{
    border-top: solid #dddfe1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#form p{
    text-align: center;
    padding: 20px;
}



form{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin: auto;
    margin-bottom: 3%;
}

.form{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#first_name, #last_name, #password, #confirm_password{ 
    width: 250px;
    background-color: #eef2f8;
    border-radius: 3px;
    border: none;
    margin-top: 5px;
    padding: 5px;
}

#email{
    width: 530px;
    background-color: #eef2f8;
    border-radius: 3px;
    border: none;
    margin-top: 5px;
    padding: 5px;
}

#terms-container{
   display: flex;
   flex-direction: row-reverse;
   margin-top: 10px;
}

#terms-container a{
    text-decoration: none;
}

.button{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    width: 305px;
}

form button{
    background-color: #0061f2;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

#terms{
    margin-right: 4px;
}

footer{
    text-align: center;
    background-color: #212529;
    color: white;
    padding: 20px;
}