#titulo{
    text-align: center;
}

#fecha{
    float: left;
}

#direccion{
    float: right;
}

#imagenes-enlaces {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

figure img{
    max-width: 250px;
}