.derecha {
    float: left;
}

.izquierda {
    float: right;
    padding: 10px;
}

.centrar {
    text-align: center;
    border: 1px solid black;
}


.displaycentral {
    text-align: center;
    border: 1px solid black;
    margin-bottom: 30px;
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 1%;
}



header {
    height: 50px;
}

.cardIzquierda {
    text-align: center;
    border: 1px solid black;
    width: 24%;
    float: left;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
}

.cardCentro {
    text-align: center;
    border: 1px solid black;
    width: 24%;
    overflow: hidden;
    float: left;
}

.cardDerecha {
    text-align: center;
    border: 1px solid black;
    width: 24%;
    float: left;
    overflow: hidden;
}
.card{
    text-align: center;
    border: 1px solid black;
    width: 24%;
    overflow: hidden;
}


.container {
    width: 90%;
    margin: 0, auto;
    overflow: hidden;
}
.tituloformulario{
    
    text-align: center;
}
.formulario {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    border: 1px solid black;
}
.boton{
    background-color: rgb(26, 135, 236);
    color: beige;
    border-radius: 10px;
    border-color: rgb(26, 135, 236);
}
footer {
    margin-top: 20px;
    background-color: black;
    color: beige;
}