*{
    margin: 0;
    font-family: sans-serif;
}

header{
    background-color: #f8f9fa;
    text-align: center;
    padding: 50px;
}

header p {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    color: #5f555c;
}

header button{
    border-radius: 10px;
    background-color: #0d6efd;
    color: white;
    padding: 10px;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li{
    list-style-type: none;
    background-color: #f8f9fa;
    padding: 20px;
    margin: 20px;
    text-align: center;
    width: 25%;
}

ul li p{
     color: #5f555c;
}

#form{
    border-top: solid #dddfe1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid blue;
}

#form p{
    text-align: center;
    padding: 20px;
}

form{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin: auto;
    border: solid red;
}

.form{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#first_name, #last_name, #password, #confirm_password{ 
    width: 250px;
    background-color: #eef2f8;
    border-radius: 3px;
    border: none;
    margin-top: 5px;
    padding: 5px;
}

#email{
    width: 530px;
    background-color: #eef2f8;
    border-radius: 3px;
    border: none;
    margin-top: 5px;
    padding: 5px;
}

#terms-container{
   display: flex;
   flex-direction: row-reverse;
}

#terms{
    margin-right: 4px;
}

footer{
    width: 100%;
    text-align: center;
    background-color: #212529;
    color: white;
    padding: 20px;
}