#titulo{
    text-align: center;
}

#fecha{
    float: left;
}

#direccion{
    float: right;
}

#imagenes-enlaces {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

figure img{
    max-height: 300px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
}