* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar {
    background-color: #333;
    padding: 15px 0;
}

.navbar .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    color: black;
    font-size: 20px;
    background-color: white;
    width: 13%;
}

.navbar nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar nav ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 16px;
}

#active{
    color: white;
}

.navbar nav ul li a:hover {
    color:rgb(43, 195, 203);
    text-decoration: underline;
    transition: color 0.3s ease-in-out;
}

.saludo {
    background-color: #f8f9fa;
    padding: 60px 0;
    text-align: center;
}

.saludo h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.saludo p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #555;
}

.saludo .btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

.saludo .btn:hover {
    background-color: #0056b3;
}

.caracteristicas {
    background-color: #fff;
    padding: 60px 0;
}

.caracteristicas .contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
}

.cajas {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
}

.cajas h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

.cajas p {
    font-size: 16px;
    color: #555;
}

.formulario {
    background-color: #f8f9fa;
    padding: 60px 0;
    text-align: center;
}

.formulario h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

.formulario {
    max-width: 600px;
    margin: 0 auto;
}

.form-cajas {
    display: flex;
    position: relative;
    gap: 20px;
    margin-bottom: 20px;
}

#nombre, #email, #pass {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label{
    float: left;
}

label a {
    color: #007bff;
    text-decoration: none;
}

label a:hover {
    text-decoration: underline;
}

button.btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float:right;
}

button.btn:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}

footer p {
    margin: 0;
    font-size: 14px;
}

