.p1 {
    font-size: 3em;
    text-align: center;
    margin: 1em;
}

.p2 {
    font-size: 2em;
    border-radius: 2em 0 0 0;
    width: 10em;
    border: 3px solid rgb(155, 155, 212);
    text-align: center;
    text-shadow: 2px 2px 5px rgba(206, 83, 218, 0.966);
    color: rgb(59, 58, 56);
    transform: rotate(180deg);
    animation: animacion 10s infinite;

}


.p3 {
    font-size: 10em;
    text-decoration: overline;
    margin-top: 3em;
}

.p4 {
    background-image: linear-gradient(to right, rgb(6, 6, 95), rgb(22, 87, 148), rgb(253, 145, 21));
    transform: rotate3d(1, 1, 1, 45deg);
}

section {
    background-image: url(img/meme.png);
    background-repeat: repeat-x;
}

@keyframes animacion {
    0% {
        background-color: #F05A7E;
        transform: translateX(0);
    }

    25% {
        background-color:#FABC3F;
        /*transform: translateX(100px);*/
    }

    50% {
        background-color: #125B9A;
        /*transform: translateX(200px);*/
    }

    75% {
        background-color: #6A9C89;
        /*transform: translateX(100px);
    }

    100% {
        background-color: #F05A7E;
        /*transform: translateX(0);*/
    }
}