header h1{
    text-align: center;
}

main.main{
    display: flex;
    padding: 15px;
}

main p{
    margin: 0 20px 20px 0;
    padding: 10px;
    border-left: 3px solid #007bff;
    background-color: #f9f9f9;
}

main a{
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #007bff;
}
aside{
    width: 200px;
    margin-right: 20px;
}

aside a{
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #007bff;
}

footer p{
    margin: 5px 0;
}
footer .fecha-hora {
    float: right;
    font-style: italic;
}

aside img{
    width: 100px;
    display: block;
}