.caja1{
    
    border:2px;
    border-color:#000000;
    border-style: dotted;
    float:left;
    padding:2%;
   
}

.caja2{
    border:2px;
    border-color:#000000;
    border-style: dotted;

    float:left;
    width: 150px;
    height: 150px;
}