*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header, footer{
    padding: 1rem; 
    background-color: rgb(211, 247, 212);
    
    float: left;
    width: 100%;
    
}



.main{
    background-color: rgb(213, 213, 248);
    width: 70%;
    float: left;
    padding: 2rem;
    
}


cite{
    padding: 2rem; 
    margin: 1rem;
    display: block;
    width: 50%;
    height: 100px;
}

aside{
    width: 30%;
    
   
    float: right;

    padding: 2rem; 
}

figure{
    width: 100px;
}

img{
    width: 100%;
}



.right{
    float: right;
}

.left{
    float: left;
}

table{
    margin: 1rem;

}

tr, td, th{
    border: 1px solid black;
    padding: 0.5rem;
}

