/* section{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0, 110, 255);
    font-size: 5em;
    
}

p{
    color: red;
    text-align: center;
    font-size: 2em;
} */

/* seccion[name="seccion1"], .articulo2, p+section, .articulo2,section,
[class~="articulo"],[class$="2"],[class^="art"], #sec1
{
    color: red;
} */

/* p:nth-child(2), p:first-child, p:last-child, p:first-of-type, section:only-child{
    color: red;
}

p:nth-child(even), :not(p){
    background-color: red;
}

p:nth-child(odd){
    background-color: yellow;
} */

.p1{
    font-size: 3em;
    text-align: center;
}

.p3{
    font-size: 10em;
    text-decoration: overline;
}

