*{
    box-sizing: border-box;
}
header, footer{
    padding: 10%; 
    background-color: rgb(187, 238, 189);
    
    float: left;
    width: 100%;
    
}



.main{
    background-color: rgb(178, 178, 235);
    width: 70%;
    float: left;
    padding: 2rem;
    
}

p{
    width: 60%;
}

cite{
    padding: 2rem; 
    margin: 1rem;
    display: block;
    width: 50%;
    height: 100px;
}

aside{
    width: 30%;
    
   
    float: right;

    padding: 2rem; 
}

figure{
    width: 100px;
}

img{
    width: 100%;
}



.right{
    float: right;
}

.left{
    float: left;
}

table{
    margin: 1rem;

}

tr, td, th{
    border: 1px solid black;
    padding: 0.5rem;
}

