main {
   background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("img/back.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 100vh;
 }
 .puntuacion {
   background-color: #D16984;
   color: #FFFFFF;
 }
 img {
    height: 130px;
 }
 .adios > img {
   margin-top: -36em;
   height: 550px;
}
 @media screen and (max-width: 600px) {
   main {
      height: 100%;
    }
 }