body{
    font-size: xx-large;
    background-image: linear-gradient(to bottom, #f97b5b, #f7ccaa);
    margin: 0;
    height: 100vh; 
}
   
.container{
    margin-top: 10%;
    background-color: rgba(3, 64, 117, 0.767);
    padding: 30px;
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.container input{
    border-radius: 10px;
}

   
.container input[type="text"]{
    width: 345px;
    height: auto;
    text-align: right;
    margin-bottom: 20px;
    font-size: 60px;
    padding-right: 10px;
}

.container input[type="button"] {
    width: 70px;
    height: auto;
    margin: 5px;
}


#igual {
    background-color: orange;
 
}

#igual:hover {
    background-color: rgb(0, 221, 255);
 
}
.container input[type="button"]:hover {
    background-color: rgb(0, 221, 255);
}


