body{
    font-size: 50px;
}
   
.container{
    margin-top: 10%;
    background-color: rgb(3, 3, 126);
    padding: 30px;
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.container input{
    border-radius: 10px;
}

   
.container input[type="text"]{
    width: 345px;
    height: auto;
    text-align: right;
    margin-bottom: 20px;
    font-size: 60px;
    padding-right: 10px;
}

.container input[type="button"] {
    width: 70px;
    height: auto;
    margin: 5px;
}

#M, #MR, #MC{

    width: 100px;
}

#igual {
    background-color: orange;
 
}