.p2{
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    animation: animation 12s linear infinite;
}

@keyframes animation {
    0% {
        top: 0;
        left: 0;
        background-color: red;
    }
    25% {
        top: 0;
        left: calc(100% - 100px);
        background-color: yellow;
    }
    50% {
        top: calc(100% - 50px);
        left: calc(100% - 100px); 
        background-color: blue;
    }
    75% {
        top: calc(100% - 50px); 
        left: 0;
        background-color: green;
    }
    100% {
        top: 0;
        left: 0; 
        background-color: red;
    }
}