body {
    background-image: url(../imagesparejas/TIPOS-DE-LENGUAJE-DE-PROGRAMACIÓN.jpg);
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
}

button {
    width: 120px;
    height: 100px;
    margin: 3px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-image: url('../imagesparejas/interrogation-mark.png');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    
}

button:active {
    background-color: lightgrey;
    transform: scale(0.95);
}

img {
    width: 120px;
    height: 100px;
    border-radius: 5px;
    margin: -12px;
    border: 1px solid gray;
    
}

#colJugador1, #colJugador2 {
    height: 100px;
    background-color: lightblue;
    color: white;
}

.salto {
    color: rgb(65, 77, 128);
}

#colJugador1, #colJugador2, #colCartas {
    border-radius: 5px;
}

#reiniciar {
    background-image: none;
    width: 7%;
    height: 3%;
}
