* {
    margin: 0;
}

nav {
    max-height: 70px;
    background-color: #E6E3DD;
    overflow: hidden;
}

#logo {
    max-height: 70px;
    width: auto;
}

#link_container li {
    transition: 0.5s ease-in-out;
}

#link_container li:hover {
    scale: 1.1;
}

#background_section_1 {
    background-image: url("https://i.postimg.cc/TPScXm1b/background-1.webp");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}