header,
footer {
    background-color: #2B2B2B;
    width: 100%;
}

header button:hover {
    animation: shakeItBaby 0.5s infinite;
    background-color: #E3350D;
}

@keyframes shakeItBaby {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(1deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-1deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

main {
    background-color: #A4A9AD;
    min-height: 100vh;
}

.player_card {
    background-color: #78C850;
    overflow: hidden;
}

#game_section button {
    max-width: 80px;
    height: 120px;
    transition: 0.5s ease-in-out;
}

#game_section button:nth-child(even) {
    background-image: url("https://static.vecteezy.com/system/resources/previews/014/022/441/original/water-pokemon-pattern-free-vector.jpg");
    background-size: cover;
    background-repeat: repeat;
}

#game_section button:nth-child(odd) {
    background-image: url("https://static.vecteezy.com/system/resources/previews/014/022/435/original/grass-pokemon-pattern-free-vector.jpg");
    background-size: cover;
    background-repeat: repeat;
}

#game_section button:hover {
    scale: 1.05;
}