header {
    background-color: #2B2B2B;
}

header button:hover {
    animation: shakeItBaby 0.5s infinite;
    background-color: #E3350D;
}

@keyframes shakeItBaby {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(1deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-1deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

main {
    background-color: #A4A9AD;
}

#game_section button {
    max-width: 60px;
    height: 100px;
    transition: 0.5s ease-in-out;
}

#game_section button:hover {
    scale: 1.05;
}