.modal-fade {
    background-color: rgb(0, 0, 0);
}

.card {
    transition: transform 0.3s ease;
    
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.footer{
    color: white;
    text-decoration: none;
}

.footer:hover {
    color: rgb(95, 90, 90);
}
