#titulo{
    text-align: center;
}

#fecha{
    float: left;
}

#direccion{
    float: right;
}

#imagenes-enlaces {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

figure img{
    max-height: 300px;
}

table, th, td {
    border: 0.1rem solid black;
    border-collapse: collapse;
}
th, td {
    padding: 1rem;
    text-align: left;
}

#formulario div{
    margin-bottom: 0.3em;
}

#imgSubmit{
    max-height: 3em;
}