.parrafo{
    color: greenyellow;
    cursor: pointer;
}

#p1{
    color: aqua;
    cursor: crosshair;
}

.cajas{
    margin-top: 10px;
}

.caja{
    border: 2px;
    border-style: solid;
    border-color: black;
}
