body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
    background-image: url(../img/fondo.jpg);
}

#logo{
    width: 60px;
    padding: 0;
    margin: 0;
}

.card {
    box-shadow: 0px 0px 5px rgb(27, 20, 20);
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 305px;
    max-height: 470px;

}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgb(27, 20, 20);
}

.card img {
    max-width: 200px;
    max-height: 130px;
    margin: auto;
    object-fit: cover;
}

.card-body{
    margin-top: 0.8em;
    padding: 0;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.card-text {
    color: #555;
}

.card-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #D69A6E;
}

.btn {
    background-color: #D69A6E;
    color: white;
    border: none;
    padding: 0.5em;
}

.btn:hover {
    background-color: #d93a00a9;
    color: white;
}

.enlaceDeMentiraProvisional {
    color: #90A9FD;
    text-decoration: underline;
    cursor: pointer;
}

.modal-content {
    background-color: #212529;
    color: white;
}

.form-control {
    border: none;
    background-color: #283034;
    color: white;
    padding: 0.75em;
}

.form-control:focus {
    background-color: #283034;
    color: white;
}

.form-control::-webkit-input-placeholder {
    color: #D69A6E; 
    opacity: 1; 
}