.custom-slider {
    padding: 0;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 20px;
    box-shadow: 10px 10px 20px rgba(56, 47, 47, 0.5);
}

.carousel-control-next, .carousel-control-prev{
    width: 30px !important;
}

.carousel {
   width: 1000px;
}

.slider-img {
    width: 100%;
    object-fit: contain;
}

div#best-sellers{
    text-align: center;
    margin-top: 100px;
}

div#best-sellers h1{
    font-family: "Fjalla One";
    font-size: 9em;
}

div#best-sellers hr{
    border: 3px solid #6D2932;
}

.custom-card {
    border-radius: 15px;
    border: none;
    background-color: #f8f2efab;
    margin-top: 50px;
}

.card-header {
    background-color: #6D2932;
    padding: 6px;
}

.windows-buttons {
    display: flex;
    gap: 8px;
}

.dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
}

.close {
    background-color: #b34251;
}

.max {
    background-color: #FFDC7F;
}

.min {
    background-color: #A1D6B2;
}

.img-card {

    width: 100%;
    object-fit: contain;
    background-color: #6d293259;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);

}

div.card-body a{
    background-color: #6D2932!important;
    border-color: #6D2932;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    border-color: #6D2932 !important;
    padding: 10px 15px;
}

.card-body-custom:hover{
    padding: 5px 10px;
}