/*HEADER CUSTOM*/
.custom-bg-navbar{
    background-color: #6D2932;
}

.custom-bg-light{
   background-color: #E8D8C4;

}
.custom-bg-medium-light{
    background-color: #C7B7A3;
 
 }
 

.custom-text-color-light{
    color: #E8D8C4;
}

.custom-text-color-medium-light{
    color: #C7B7A3;
}